HELP.md
target/
**/target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
out/

.checkstyle
.classpath
.project
.settings/
.springBeans
**/.idea
.idea
*.launch
**/*.iml
*.iml
*.log
.fbExcludeFilterFile
**/node/
# local elasticsearch instance
data/

# local tmp working directory
tmp/

# frontend stuff
**/node_modules/
# **/bower_components/
**/frontend/dist
**/resources/static/dist

.metadata/

!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/



### STS ###
.apt_generated
.factorypath
.settings
.sts4-cache

### IntelliJ IDEA ###
*.iws
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
